@using Modelo.Entidades

@model Amortizacion

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Amortizacion</h1>

<div class="container">
    <div class="row">
        <div class="">
            <h3 class="text-center">Confirmar el borrado de los datos de Amortizacion</h3>
        </div>
    </div>
    <div class="row">
        <div class="">
            <form method="post" asp-action="Delete">

                <input type="hidden" asp-for="AmortizacionId" />

                <div class="form-group">
                    <label for="Avaluo">Valor Crédito</label>
                    <input step="0.00" min="0" class="form-control" asp-for="ValorCredito" placeholder="0.00" disabled>
                </div>
                <div class="form-group">
                    <label for="Avaluo">Pago Mensual</label>
                    <input step="0.00" min="0" class="form-control" asp-for="PagoMensual" placeholder="0.00" disabled>
                </div>
                <div class="form-group">
                    <label for="PagoIMP">Pago Impuestos</label>
                    <select class="form-control"
                            asp-for="Estado" asp-items="Html.GetEnumSelectList<Estado>()" disabled>
                        <option value="">--Selecciona un opcion--</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="Eliminar" />
                </div>
            </form>
        </div>
    </div>
</div>

