@using Modelo.Entidades

@model RolPagos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Rol de Pagos</h1>

<div class="container">
    <div class="row">
        <div class="">
            <h3 class="text-center">Confirmacion borrar el Rol de Pagos del solicitante : @Model.Solicitante.Nombres @Model.Solicitante.Apellidos</h3>
        </div>
    </div>
    <div class="row">
        <div class="">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="RolPagosId" />
                <div class="form-group">
                    <label class="control-label">Solicitante</label>
                    <select class="form-control" asp-for="SolicitanteId" asp-items="@ViewBag.selectListSolicitantes" disabled>
                        <option value="">--Selecciona un Solicitante--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Sueldo">Ingresa tu sueldo Mensual</label>
                    <input class="form-control" asp-for="Sueldo" disabled>
                </div>
                <div class="form-group">
                    <label for="aporteIess">Ingresa el aporte al IESS</label>
                    <input class="form-control" asp-for="AporteIESS" disabled>
                </div>
                <div class="form-group">
                    <label for="prestamo">Ingresa si tienes algun prestamo en el IESS</label>
                    <input class="form-control" asp-for="PrestamosIESS" disabled>
                </div>
                <div class="form-group">
                    <label for="anticipo">Ingresa cuanto pediste de anticipo</label>
                    <input class="form-control" asp-for="Anticipo" disabled>
                </div>
                <div class="form-group">
                    <label for="total">Ingresa el total de ingresos</label>
                    <input class="form-control" asp-for="TotalIngresos" disabled>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Eliminar" />
                </div>
            </form>
        </div>
    </div>
</div>
