@using Modelo.Entidades

@model DeclaracionImp

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Declaracion</h1>

<div class="container">
    <div class="row">
        <div class="">
            <h3 class="text-center">Confirmacion borrar declaracion : @Model.Solicitante.Nombres @Model.Solicitante.Apellidos</h3>
        </div>
    </div>
    <div class="row">
        <div class="">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="DeclaracionImpId" />
                <div class="form-group">
                    <label class="control-label">Solicitante</label>
                    <select class="form-control" asp-for="SolicitanteId" asp-items="@ViewBag.selectListSolicitantes" disabled>
                        <option value="">--Selecciona un Solicitante--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ventasanuales">Ingrese las ventas anuales</label>
                    <input class="form-control" asp-for="VentasAnuales" disabled>
                </div>
                <div class="form-group">
                    <label for="aporteIess">Ingrese cuanto aporta al IESS por mes</label>
                    <input class="form-control" asp-for="AporteIESS" disabled>
                </div>
                <div class="form-group">
                    <label for="prestamoIess">Ingrese si paga algun prestamo al IESS</label>
                    <input class="form-control" asp-for="PrestamosIESS" disabled>
                </div>
                <div class="form-group">
                    <label for="Gastosvarios">Ingrese sus Gastos Varios</label>
                    <input class="form-control" asp-for="GastosVarios" disabled>
                </div>
                <div class="form-group">
                    <label for="totalIngresos">Ingrese sus Ingresos Totales</label>
                    <input class="form-control" asp-for="TotalIngresos" disabled>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Eliminar" />
                </div>
            </form>
        </div>
    </div>
</div>
