<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="Postgres"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="server = Tony; initial catalog = DBCreditos; trusted_connection = true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;port=5432;Database=DBCreditos;Username=postgres;Password=1234;"/>
		<add name="Memoria"
			 connectionString="SAC_DBMemoria"/>
		<add name="MySql"
			 connectionString="server = localhost; Database= DBCreditos; UID= root; Password=; Port= 3307"/>
	</connectionStrings>
</configuration>