@using Modelo.Entidades

@model HistorialCrediticio

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Historial Crediticio</h1>

<div class="container">
    <div class="row">
        <div class="">
            <h3 class="text-center">Editar el Historial crediticio del solicitante : @Model.BienesSolicitante.Solicitante.Nombres @Model.BienesSolicitante.Solicitante.Apellidos</h3>
        </div>
    </div>
    <div class="row">
        <div class="">
            <form method="post" asp-action="Edit">
                <input type="hidden" asp-for="HistorialCrediticioId" />
                <div class="form-group">
                    <label class="control-label">Bienes Solicitante</label>
                    <select class="form-control" asp-for="BienesSolicitanteId" asp-items="@ViewBag.selectListBien">
                        <option value="">--Selecciona--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Detalles Deuda</label>
                    <select class="form-control" asp-for="DetalleDeudasId" asp-items="@ViewBag.selectListDet">
                        <option value="">--Selecciona--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="central">¿Esta en la central de riesgos?</label>
                    <select class="form-control" asp-for="CentralRiesgos" asp-items="Html.GetEnumSelectList<CentralRiesgos>()">
                        <option value="">--Seleccionae--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pendientes">¿Se encuentra con pagos pendientes?</label>
                    <select class="form-control" asp-for="PagosPendientes" asp-items="Html.GetEnumSelectList<PagosPendientes>()">
                        <option value="">--Selecciona un Solicitante--</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Editar" />
                </div>
            </form>
        </div>
    </div>
</div>
